.app-login {
    .mat-slide-toggle {
        margin-left: 30%;
    }
    img {
        width: 20%;
        margin-left: 40%;
        margin-top: 10%;
        margin-bottom: 0%;
    }
    .mat-card {
        width: 50%;
        margin: 30%;
        margin-top: 0%;
    }
}