<form #createForm="ngForm" (ngSubmit)="createAccount()">
    <h4>Create Account</h4>
    <mat-card>
        <div [fxLayout]="'row'">
            <label for="email" [fxFlex]="'0 0 25%'">{{ "common.eMail" | i18next }}:</label>
            <input  [fxFlex]="'0 0 50%'" type="email" id="email" #emailControl="ngModel" email [placeholder]="'email'" required name="email" [(ngModel)]="userMail"/>
        </div>
        <div [fxLayout]="'row'">
            <label for="password" [fxFlex]="'0 0 25%'">{{ "common.password" | i18next }}:</label>
            <input  [fxFlex]="'0 0 50%'" type="password" id="password" #passwordControl="ngModel" [placeholder]="'password'" required name="password" [(ngModel)]="password"/>
        </div>
        <div class="buttons" *ngIf="!createForm.pristine">
          <button class="btn waves-effect waves-light" mat-raised-button="mat-raised-button" (click)="resetForm()" type="button">{{ "common.cancel" | i18next }}</button>
          <button class="btn waves-effect waves-light" mat-raised-button="mat-raised-button" color="primary">{{ "common.send" | i18next }}</button>
        </div>
    </mat-card>
</form>