.app-blog {
    .container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        button {
        background:none; 
        border:none;
        :hover{
            opacity: 0.5;
        }
        p {
            margin-left: 1rem;
        }
    }
}
}