<h1 class="text-center bold italic">{{ "blogList.available" | language }}</h1>
<div class="container" fxLayout="row wrap">
    <button fxFlex="25%" *ngFor="let item of blogList$ | async as list" type="button" (click)="goToArticle(item)">
        <mat-card>
            <mat-card-title>
                <h5 class="ellipse">{{item.title}}</h5>
            </mat-card-title>
            <div class="picture-container">
                <img *ngIf="item.imagePath" class="image" alt="img" [src]="item.imagePath" width="100%" height="100px">
            </div>
            <mat-card-content>
                <showdown [value]="item.body"></showdown>
            </mat-card-content>
        </mat-card>
    </button>
</div>