<div class="headerDiv"></div>
<ng-container *ngIf="service.logged">
    <app-create-blog></app-create-blog>
</ng-container>
<ng-container *ngIf="!service.logged">
    <div [fxLayout]="'row'" fxLayoutGap="10px">
        <a (click)="goToRestorePasswordMenu()">{{ "account.restorePassword" | i18next }}</a>
        <a (click)="goTocreateAccountMenu()">{{ "account.createAccount" | i18next }}</a>
        <a (click)="goToLoginMenu()">{{ "account.login" | i18next }}</a>
    </div>
    <ng-container [ngSwitch]="selectedLoginOption">
        <app-login (onLogin)="update()" *ngSwitchCase="LoginOption.LOGIN">{{ "account.login" | i18next }}</app-login>
        <app-restore-password *ngSwitchCase="LoginOption.RESTORE">{{ "account.restore" | i18next }}</app-restore-password>
        <app-create-account *ngSwitchCase="LoginOption.CREATE">{{ "account.create" | i18next }}</app-create-account>
    </ng-container>
</ng-container>