.app-header {
    img {
        max-height: 100%;
        width: auto;
        padding-top:0.2rem;
    }
    nav {
        .brand-logo {
            position: relative;
        }
        ul li a{
            font-size: large;
        }
    }
}