.text-center {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.m-sm {
    margin: 1rem;
}

.buttons{
    margin: 3rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    button{
        width: 10rem;
    }
}

.author {
    font-size: smaller;
    font-style: oblique;
}

.ellipse {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.date {
    font-size: smaller;
}
