.app-create-blog {
    width: 80rem;
    * {
        width: 80rem;
    }
    >div {
        margin-left: auto;
        margin-right: auto;
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2rem;
            textarea {
                min-height: 20rem;
            }
        }
        .imageButton {
            width: fit-content;
            margin-top: 5rem;
            margin-bottom: 1rem;
        }
    }
}